<div class="modal fade" id="question-share">
<div class="modal-dialog">

	<div class="modal-content">
	<div class="modal-header"><center><h3>Share</h3></center></div>
	<div class="modal-body" style="height: 200px;padding-top: 50px;">
		<div class='clearfix'>
		<div ng-click='nc.share(nc.qshareurl,"fb")' class='col-md-4'> <div class='col-md-8 col-md-offset-2 btn btn-default'><i class='fa fa-2x fa-facebook'></i> </div></div>
		<div ng-click='nc.share(nc.qshareurl,"gp")' class='col-md-4'> <div class='col-md-8 col-md-offset-2 btn btn-default'><i class='fa fa-2x fa-google-plus'></i> </div></div>
		<div ng-click='nc.share(nc.qshareurl,"tw")' class='col-md-4'> <div class='col-md-8 col-md-offset-2 btn btn-default'><i class='fa fa-2x fa-twitter'></i> </div></div>
		</div>
	</div>	

	</div>
</div>
</div>