header{
	height: 50px;
    border-bottom: 2px solid #ddd;
    box-shadow: 2px 2px 2px #eee;
     background: #FFF; 
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a.logo{
	display: inline-block;
	padding-top: 3px;
	width: 170px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
a.logo>img {
    width: 170px;
    display: block;
    position: absolute;
}
.navbar-brand>.logo>.uncollapsed{
    clip: rect(0px, 170px, 34px, 0px);
    -webkit-transition:all 0.6s;
    -moz-transition:all 0.6s;
    -o-transition:all 0.6s;
    transition:all 0.6s;
}
/*.navbar-brand>.logo>.uncollapsed:hover{
	clip: rect(0px,51px,200px,31px);   
}*/


body.collapsed .navbar-brand{
  padding: 5px 0;
}
body.collapsed .user-block-name,body.collapsed .mt{
    opacity: 0;
    height: 0;
    transition:0.4s linear height 0.4s;
    -webkit-transition:0.4s linear height 0.4s;
    -moz-transition:0.4s linear height 0.4s;
    -o-transition:0.4s linear height 0.4s;
}

.left-side-bar{
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
        background:#FDFDFD;
  }



body.collapsed .search-bar{
	width: calc(100% - 80px);
	left: 80px;
}
.search-bar{
	position: absolute;
	width: calc(100% - 220px);
	height: 50px;
	z-index: 100;
	left: 220px;
	top: 0;
}
.search-bar>input.form-control{
	height: 50px;
	border-radius: 0;
	padding-bottom: 5px 10px;
}




footer{
	display: block;
	min-height: 160px;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	background-color: white;
	border-top: 1px solid #ddd;
}
.social-icons li{
	width: 40px;
    height: 40px;
    position: relative;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
}
.social-icons li a{
	height: 40px;
	line-height: 40px;
	color: #000;
}
.social-icons li a i{
	height: 38px;
	line-height: 38px;
}
.copyright{
	color: #666;
}

/*MATERIAL*/
[angular-ripple] {
    position: relative;
    overflow: hidden;
  }
  .angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
  .angular-ripple.animate {
    animation: ripple 0.35s linear;
    -webkit-animation: ripple 0.35s linear;
    -moz-animation: ripple 0.35s linear;
    -o-animation: ripple 0.35s linear;
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
      -webkit-transform: scale(2.5);
      -moz-transform: scale(2.5);
      -o-transform: scale(2.5);
    }
  }

  .transparent{
    background-color: none !important;
  }


@media(min-width: 992px){
  body.collapsed .navbar-brand>.logo>.uncollapsed{    
    clip: rect(0px,52px,200px,33px); 
  }
  body.collapsed .navbar-brand>.logo{
    width: 80px;
  }
  /*COLLAPSED*/
  body.collapsed .left-side-bar{
    width: 80px;
  }
  
  .navbar-right{
    margin-right: 0;
  } 
}
@media(max-width: 768px){
  body .navbar-brand{
    float: none !important;
    text-align: center;

  }
  body.collapsed .left-side-bar{
    width: 0 !important;
    /*margin-left: -100%;*/
    opacity: 0;
    visibility: hidden;
    -webkit-transition:0.4s ease all;
    -moz-transition:0.4s ease all;
    -o-transition:0.4s ease all;
    transition:0.4s ease all;
  }
  .left-side-bar{
    width: 100% !important;
    opacity: 1;

  }
  .nav-wrapper{
    float: left;
    margin-left: 20px;
    width: 20px;
    text-align: center;
    margin-top: -52px;
  }
  .navbar-right{
    position: absolute;
    top: -3px;
    right: 15;
  } 


}