<footer >
		<div class="container">
			<ul class="social-icons">
				<li><a target="_blank" href="https://www.facebook.com/thinkmerit.in/"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://twitter.com/thinkmerit"><i class="fa fa-twitter"></i></a></li><li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li><!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li><li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li> --><li><a target="_blank" href="https://www.youtube.com/channel/UCcYos33m_g5vqIi50_tYgrg"><i class="fa fa-youtube"></i></a></li>				
				</ul>
		</div>
		<div class="copyright">All rights reserved. ThinkMerit 2015.</div>
</footer>