
<div class="content main" ng-controller="NotesCtrl as nc" ng-init="nc.init()">

<section class="inner">
		<div class="section-header">
			<h4>Study Notes</h4>
		</div>
<div class="clearfix">
	<div class="col-md-2">
		<h4>Subjects</h4>
		<hr>
		<div class="list-group">
			<div  class="list-group-item cp" ng-repeat="a in nc.datas.subjects track by $index" ng-class="{'iactive':a.name==nc.currentData.nsubject}"  ng-click="nc.redirectToSubject(a.name)">{{a.name}}</div>
		</div>
	</div>
	<div class="col-md-10" ng-if="nc.currentData.subject">
		<h4>Chapters</h4>
		<hr>
		<div class="col-md-4">
			<div ng-repeat="x in nc.datas.modules track by $index">
				<h5 ng-show="nc.showChaptername($index,15)"><b>{{x.name}}</b></h5>
				<div class="list-group">
				<div  class="list-group-item cp" ng-repeat="b in x.chapters track by $index" ng-if="nc.showchapter($index,$parent.$index,15)" ng-class="{'iactive':b.name==nc.currentData.nchapter}" ng-click="nc.showNotes(b.name)"> {{b.name}}</div>
				</div>		
			</div>	
		</div>
		<div class="col-md-4" ng-show="nc.totalchapters()>15">
			<div ng-repeat="x in nc.datas.modules track by $index">
				<h5  ng-show="nc.showChaptername($index,30)"><b>{{x.name}}</b></h5>
				<div class="list-group">
				<div  class="list-group-item cp" ng-repeat="b in x.chapters track by $index"  ng-if="nc.showchapter($index,$parent.$index,30)" ng-class="{'iactive':b.name==nc.currentData.nchapter}" ng-click="nc.showNotes(b.name)"> {{b.name}}</div>
				</div>
			</div>	
		</div>
		<div class="col-md-4" ng-show="nc.totalchapters()>30">
			<div ng-repeat="x in nc.datas.modules track by $index">
				<h5  ng-show="nc.showChaptername($index,29)"><b>{{x.name}}</b></h5>
				<div class="list-group">
				<div  class="list-group-item cp" ng-repeat="b in x.chapters track by $index"  ng-if="nc.showchapter($index,$parent.$index,29)" ng-class="{'iactive':b.name==nc.currentData.nchapter}" ng-click="nc.showNotes(b.name)"> {{b.name}}</div>
				</div>
			</div>
			
		</div>

					
	</div>
</section>
<section class="notes col-md-12">
	<div class="clearfix " ng-bind-html="nc.notes"></div>
</section>

</div>