
<div class="content main" ng-controller="NotesCtrl as nc" ng-init="nc.init()">
<div class="modal fade" id="modal-sticky">
<div class="modal-dialog" ng-controller="UtilityCtrl as uc0">
	<div class="modal-content">
		<div class="modal-header" style="padding-left: 20;">
			<div ng-hide="uc0.config.editmode">
			<a class="pull-right option right-option add-bg" ng-click="uc0.config.editmode=true;nc.current={};uc0.config.viewmode=false;nc.savemode='new'"><i class="fa fa-plus"></i></a>
			<!-- <a class="pull-right option right-option" ng-show="!uc0.config.viewmode"><i class="fa fa-trash"></i></a> -->
			<a class="pull-right option right-option" ng-show="uc0.config.viewmode" ng-click="uc0.config.editmode=true;uc0.config.viewmode=false;nc.savemode='update'"><i class="fa fa-edit"></i></a>
			</div>
			
			<a class="pull-left back-icon" ng-click="uc0.showList()" ng-show="uc0.config.viewmode"><i class="fa fa-chevron-left"></i></a>
			<h3><b>Stickies</b></h3>
		</div>
<div class="modal-body utility" style="min-height: 250px; height:auto">

			<div class=""  ng-init="nc.stickies=nc.stickies">
			
			
			<div class="body">
				<div ng-if="nc.stickies.length<1 && !uc0.config.editmode" style="padding: 120px; color: #FFBE56; opacity: 0.2; ">
					<center><i class="fa fa-sticky-note-o fa-4x"></i></center>
				</div>
				<ul class="menu ul-li" ng-hide="uc0.config.viewmode || uc0.config.editmode">
					<li ng-repeat="a in nc.stickies track by $index" >
						<i  ng-click="nc.deleteItem(a,'sticky')" class="fa fa-trash option pull-right"></i>
						<!-- ng-show="uc0.config.deletemode" -->

						<a  ng-click="uc0.showItem(a);nc.current=a" href=""> {{a.title | limitTo:40 }}</a>  
					</li>
				</ul>
				<div class="item-details" ng-show="uc0.config.viewmode">
					<h3>{{uc0.currentItem.title}}</h3>
					<p>{{uc0.currentItem.body }}</p>
				</div>
				<form name="editform" class="item-details" ng-show="uc0.config.editmode">
					<div class="form-group {{(editform.title.$invalid && editform.title.$dirty)?'has-error':''}}">
						<label>Title</label>
						<input name="title" class="form-control has-error bb0" type="text" ng-model="nc.current.title" required></input>
					</div>
					<div class="form-group {{(editform.body.$invalid && editform.body.$dirty)?'has-error':''}}">
					<label>Content <small ><small >(Max 250char)</small></small></label>
					<textarea class="form-control bb0" name="body" ng-model="nc.current.body" palceholder="body" rows="6" required></textarea>
					</div>
					
					<div class="btn btn-danger pull-right" ng-disabled="editform.$invalid" ng-click="uc0.save('sticky', nc,editform,$index)">Save</div>
					<div class="btn btn-default"  ng-click="uc0.config.editmode=false;nc.current={};editform.$setPristine()">Cancel</div>
				</form>
			</div>

			</div>

</div>


	</div>
</div>
</div>

	<section class="inner">
		<div class="section-header">
			<h4>Study Notes</h4>
		</div>
		<div class="clearfix">
			<div class="col-md-2">
				<h4>Course</h4>
				
			<!--   <ui-select ng-model="nc.selected.course" ng-change="nc.selectcourse(nc.selected.course)" theme="selectize" ng-disabled="disabled" >
			    <ui-select-match placeholder="{{nc.datas.courses.length>0?'Select or search a course':'No data found'}}">{{$select.selected.name}}</ui-select-match>
			    <ui-select-choices repeat="course in nc.datas.courses | filter: $select.search" >
			      <span ng-click="nc.selectcourse(course)"  ng-bind-html="course.name | highlight: $select.search"></span>
			    </ui-select-choices>
			  </ui-select> -->
			 <!-- <div class="form-control">+2Science</div> -->

 			<!-- <input class="form-control" value='+2 Science' disabled ></input> -->
			</div>
			<div class="col-md-2" ng-show="nc.selected.course">
				<h4>Subject</h4>
			
			  <ui-select ng-model="nc.selected.subject" ng-change="nc.selectsubject(nc.selected.subject)" theme="selectize" ng-disabled="disabled">
			    <ui-select-match placeholder="{{nc.datas.subjects.length>0?'Select or search a subject':'No data found'}}">{{$select.selected.name}}</ui-select-match>
			    <ui-select-choices repeat="subject in nc.datas.subjects | filter: $select.search">
			      <span  ng-bind-html="subject.name | highlight: $select.search"></span>
			    </ui-select-choices>
			  </ui-select>

			</div>
			<div class="col-md-2" ng-show="nc.selected.subject"  >
				<h4>Chapter</h4>
				
				<ui-select ng-model="nc.selected.chapter" ng-change="nc.selectchapter(nc.selected.chapter)" theme="selectize" ng-disabled="disabled">
			    <ui-select-match placeholder="{{nc.datas.chapters.length>0?'Select or search a chapter':'No data found'}}">{{$select.selected.name}}</ui-select-match>
			    <ui-select-choices repeat="chapter in nc.datas.chapters | filter: $select.search">
			      <span ng-click="nc.selectchapter(chapter)"  ng-bind-html="chapter.name | highlight: $select.search"></span>
			    </ui-select-choices>
			  </ui-select>
			</div>
			
			<div class="col-md-12 notes-show" ng-show="nc.selected.notes" id="notes-container" ng-class="{'note-fs':nc.isfs}" escapekey>
				<div class="notes-tools text-center">
					
					<div title="bookmark" ng-click="nc.togglebookmark()" ng-class="{'active':nc.selected.chapter.bookmark[0].id}" class="btn btn-a  fa fa-bookmark pull-right"></div>
					<div title="readmode" ng-click="nc.togglereadmode()" ng-class="{'active':nc.isfs}" class="btn btn-c  fa fa-arrows-alt pull-right"></div>
					<div title="sticky" data-toggle="modal" data-target="#modal-sticky" class="btn btn-b  fa fa-sticky-note-o pull-right"></div>
					
				</div>
				<div class=" {{nc.isfs?'col-md-6 col-md-offset-3':'col-md-12 row'}} bg-white" ng-bind-html="nc.selected.notes"></div>
				<!-- <iframe class="col-md-12 mframe" ng-show="nc.selected.notes" ng-src="{{nc.selected.notes}}"></iframe> -->
				
			</div>

		</div>
	<section>
</div>
 <link rel="stylesheet" href="bower_components/ui-select-master/dist/selectize.modified.css">