<div class="modal fade" id="careermodal" tabindex="-1" role="dialog">
	<div class="modal-dialog" >
		<div class="modal-content" >
			<div class="modal-header"><h3 class="text-center" style="color:#fff">Careers</h3></div>
			<div class="modal-body career-modal" >
				<div class="clearfix">
					<h5><b><u>Qualities we are looking for?</u></b></h5>
					<ul class="career-modal-ul">
						<li>Enthusiast</li>
						<li>Leadership</li>
						<li>Dedication</li>
						<li>Team worker</li>		
					</ul><br>
					<h5><b><u>Job profiles</u></b></h5>
					<p>We strongly stress on the point that we have a dedicated team and are looking for individuals who best fit for our working environment & matching our enthusiasm for work.</p>
					<div class="col-md-4 clearfix">
						<h5><b>Content</b></h5>
						<ul class="career-modal-ul">
							<li>Improve and update question bank</li>
							<li>Create and review contents</li>
							<li>QA tester</li>
							<li>Write blogs</li>
						</ul>
					</div><div class="col-md-4 clearfix">
						<h5><b>Technical</b></h5>
						<ul class="career-modal-ul">
							<li>Cloud server management</li>
							<li>Website development</li>
							<li>Mobile app development</li>
							<li>Working on designing softwares:<br><br>
								&nbsp;* Adobe Photoshop<br>
								&nbsp;* Adobe Illustrator<br>
								&nbsp;* Adobe Flash</li>
						</ul>

					</div><div class="col-md-4 clearfix">
						<h5><b>Operations</b></h5>
						<ul class="career-modal-ul">
							<li>Finance management</li>
							<li>Product design</li>
							<li>Growth lead</li>
							<li>SEO optimization</li>
							<li>Promotions</li>
						</ul>
					</div>	<br>	
				</div>
					
				<!-- <center><a href="#/careers" class="btn btn-success">Join</a> <br><br></center> -->
			</div>
			

			<div class="modal-footer">

				<h5 class="text-left"><b>Note:</b></h5>
				<p class="text-left">For the technical team we will give proper training sessions.		</p>
			</div>
			<!-- <div class="modal-footer"><p class="status pull-left"></p><button class="btn btn-primary" id="edit-save">Save</button><button class="btn btn-default" id="edit-cancel">Cancel</button></div> -->
		</div>
	</div>
</div> 


<div class="page-header">
	<div class="container">
		<a class="logo" href="/#/"><img src="images/logo.beta.png"></a>
		<ul class="nav pull-right sign-button" ng-init="login=true">
				<li><a class="btn btn-default" ng-click="login=false">Sign Up</a></li>
				<li><a class="btn btn-success" ng-click="login=true">Log In</a></li>
		</ul>
		<!-- <div class="search" ><input class="form-control" type="text" placeholder="Search by subject, chapter or topic"> </div> -->

	</div>
</div>


<div data-spy="scroll" data-target=".nav-top" data-offset="500">


<section id="home" class="jumbotron">
	<div class="container">
		<div class="tag-line col-md-8">
			<p >Concepts <span class="y" style="color: yellow;">to</span> understand</p>
			<p >Easy to apply</p>
		</div>
		<div class="sign-forms col-md-4" ng-controller="AuthController as ac">
			<a href="https://api.thinkmerit.in/login/facebook" id="btn-fb" class="btn col-md-12 form-control"><i class="pull-left fa fa-facebook"></i>Sign in with Facebook</a>
			<a href="https://api.thinkmerit.in/login/google" id="btn-gplus" class="btn col-md-12 form-control"><i class="pull-left fa fa-google-plus"></i>Sign in with Gmail</a>
	
			<div class="or-line"><!-- <span class="or">OR</span> --></div>
			
			<form ng-show="!login" name="ac.signup" novalidate>
				<div class="form-group has-feedback" ng-class="{'has-error':ac.signup.name.$error.required && ac.signup.name.$dirty}">
					<i ng-show="ac.signup.name.$error.required && ac.signup.name.$dirty" class="text-danger fa fa-exclamation-triangle form-control-feedback"></i>
				<input class="form-control" type="text" name="name" ng-model="ac.credentials.name" placeholder="Name" required/>
				</div>
				<div class="form-group has-feedback"  ng-class="{'has-error':ac.signup.email.$invalid && ac.signup.email.$dirty}">
				<input title="Email must be valid" class="form-control" type="email" name="email" ng-model="ac.credentials.email" placeholder="Email" required/>
				<i ng-show="(ac.signup.email.$error.required || ac.signup.email.$invalid ) && ac.signup.email.$dirty" class="text-danger fa fa-exclamation-triangle form-control-feedback"></i>
				</div>
			<!-- 	<span ng-show="ac.signup.email.$invalid && ac.signup.email.$dirty && ac.credentials.email.length>0"><small class="text-danger">Invalid email</small> 	</span> -->
				<div class="form-group has-feedback" ng-class="{'has-error':ac.signup.password.$invalid && ac.signup.password.$dirty}">
				<input title="Password length must be at least 6" class="form-control" type="password" name="password"  ng-model="ac.credentials.password" ng-minlength="6" placeholder="Password" required/>
				<input class="form-control" type="hidden" ng-model="ac.credentials.password_confirmation"/>
				</div>
			<!-- 	<span ng-show="ac.signup.password.$error.minlength && ac.signup.password.$dirty"><small class="text-danger">Password at least 6 char</small> 	</span> -->
				<!-- <input type='hidden' name="_token" ng-model="ac.credentials._token" ng-value="CSRF_TOKEN"> -->
				<span class="text-danger">{{ac.signflash[0]}}</span>
				<input class="btn btn-success" value="Sign Up" ng-disabled="ac.signup.$invalid && ac.signup.$dirty" ng-click="ac.register()" type="submit"/>
				<label id="tnca"><!-- <input type="checkbox" ng-model="agreetnc"> --> By signing up you agree to our  <a href="#">Terms & Conditions</a>.</label>
			</form>
			<form ng-show="login" name="ac.signin">
				<div class="form-group has-feedback" ng-class="{'has-error':ac.signin.email.$invalid && ac.signin.email.$dirty}">
				<input class="form-control" type="email" name="email" ng-model="ac.credentials.email" placeholder="Email" required/>
				<i ng-show="(ac.signin.email.$error.required || ac.signin.email.$invalid ) && ac.signin.email.$dirty" class="text-danger fa fa-exclamation-triangle form-control-feedback"></i>
				</div>
				<div class="form-group has-feedback " ng-class="{'has-error':ac.signin.password.$invalid && ac.signin.password.$dirty}">
				<input title="Password length must be at least 6" class="form-control " type="password" name="password"  ng-model="ac.credentials.password" ng-minlength="6" placeholder="Password" required/>
					<i ng-show="ac.signin.password.$invalid && ac.signin.password.$dirty" class="text-danger fa fa-exclamation-triangle form-control-feedback"></i>
				</div>
				<!-- <input type='hidden' name="_token" ng-model="ac.credentials._token" ng-value="CSRF_TOKEN"> -->
				<!-- <span ng-show="ac.signin.password.$error.minlength && ac.signin.password.$dirty"><small class="text-danger">Password at least 6 char</small> 	</span> -->
				<span class="text-danger">{{ac.signflash}}</span>
				<input class="btn btn-success" ng-disabled="ac.signin.$invalid && ac.signin.$dirty" value="Sign In" ng-click="ac.login()" type="submit"/>
				
			</form>
		</div>
	</div>
</section> 
<div class="page-header-2">
<div class="container">
		
<div class="nav-top" ng-controller="ScrollCtrl">
	<ul class="nav">
	<li><a ng-click="goTo('!home')">Home</a></li><li><a ng-click="goTo('!about')">About</a></li><li><a ng-click="goTo('!catalogue')">Catalogue</a></li><!-- <li><a href="#testimonials">Testimonials</a></li> --><li><a ng-click="goTo('!careers')">Careers</a></li><li><a ng-click="goTo('!vision')">Vision</a></li><li><a ng-click="goTo('!faq')">FAQ</a></li><!-- <li><a ng-click="goTo('!contact')">Contact</a></li> -->
	</ul>
</div>

</div>
</div>
<section id="about" class="gray-bg">
	<div class="container">
		<h2 class="fw7 pt10">ABOUT US</h2>
		<span class="line 40p"></span>
		<p class="subt">Our work reflects dedication.</p>
		<p class="max80 ">We provide completely free study materials for the students of class 11th & 12th to understand the concepts of Physics, Chemistry & Maths.<br><br>Our aim is to provide one stop solution to the students who are preparing for various engineering competitive examination like JEE Mains & Advance, BITSAT and state competitive examinations through our website and mobile app.<br></p>
			<img class="aboutimg" src="images/about1.png" class="img-responsive" >
		</div>
	</section> 
	<section id="catalogue" class="clearfix">
		<div class="container">
			<h2 class="fw7 pt10">CATALOGUE</h2>
			<span class="line 40p"></span>
			<p class="max80 ">Along with the hard work of students, preparatory material and guidance plays a very important role in the success of students in any competitive examination.</p>
			<div class="catalogue-menu">
				<a href="/notes" class="col-md-4 catalogue-menu-item">
					<img class="sm-icon" src="images/menu/nm-01.svg">
					<h3>Notes</h3>
					<p>Depth of every concept is reached with elaborated explanation, topic videos and interactive digrams.</p>
				</a>
				<a href="/question-bank" class="col-md-4 catalogue-menu-item">
					<img class="sm-icon" src="images/menu/qb-01.svg">
					<h3>Question Bank</h3>
					<p>Question on every concept of a topic followed by detailed solution and explanation.</p>
				</a>
				<a href="/test-series" class="col-md-4 catalogue-menu-item">
					<img class="sm-icon" src="images/menu/test_series-01.svg">
					<h3>Test Series</h3>
					<p>Recommended and customizable tests according to your preparation.</p>
				</a>
				<a href="/video-lectures" class="col-md-4 catalogue-menu-item">
					<img class="sm-icon" src="images/menu/video_lectures-01.svg">
					<h3>Video Lectures</h3>
					<p>Topic wise video lectures for solid concept building.</p>
				</a>
				<a href="/career-counselling" class="col-md-4 catalogue-menu-item">
					<img class="sm-icon" src="images/menu/career_counselling-01.svg">
					<h3>Career Counselling</h3>
					<p>Expert guidance for choosing most suitable college, course and job profile.</p>
				</a>
				<a href="/ask-an-expert" class="col-md-4 catalogue-menu-item">
					<img class="sm-icon" src="images/menu/ask_an_expert-01.svg">
					<h3>Ask an expert</h3>
					<p>Clear your doubts from our experienced faculty.</p>
				</a>
			</div>
		</div>
	</section>
	<section id="careers" class="clearfix gray-bg ">
		<div class="container">
			<h2 class="fw7 pt10">CAREERS</h2>
			<span class="line 40p"></span>
			<p class="subt ">Work with Us. Enhance your skills.</p>
			<div class="career-menu clearfix">
				<div class="career-menu-item col-md-4">
					<img class="sm-icon" src="images/menu/contents-01.svg">
					<h3>Contents</h3>
					<p>Develop and improve the contents of website under the expert guidance.</p>
				</div>
				<div class="career-menu-item col-md-4">
					<img class="sm-icon" src="images/menu/technical-01.svg">
					<h3>Technical</h3>
					<p>Learn and practice lots of technical skills for the improvement and advancement of the website and yourself.</p>
				</div>
				<div class="career-menu-item col-md-4">
					<img class="sm-icon" src="images/menu/operation-01.svg"> 
					<h3>Operation</h3>
					<p>Learn to lead and manage for the development of organisation.</p>
				</div>
				<br>
				<button class="btn btn-default" data-toggle="modal" data-target="#careermodal">More details</button>
			</div>	
		</div>
	</section>
	<section id="vision" class="clearfix">
		<div class="container">
			<h2 class="fw7 pt10">OUR VISION</h2>
			<span class="line 40p"></span>
			<p class="subt ">Our aim is to connect all the students with an education platform where knowledge is for free.</p>
			<div class="career-menu clearfix">
				<div class="career-menu-item col-md-4">
					<img class="sm-icon p80" src="images/vision/school-01.png">
					<p><br>Students in school studying in ThinkMerit smart classroom.</p>
				</div>
				<div class="career-menu-item col-md-4">
					<img class="sm-icon p80" src="images/vision/bus-01.png">
					<p><br>Knowledge at finger tips through ThinkMerit mobile app anytime and everywhere.</p>
				</div>
				<div class="career-menu-item col-md-4">
					<img class="sm-icon p80" src="images/vision/home-01.png"> 
					<p><br>Students studing and doing homework more efficiently with the help of ThinkMerit education infrastructure.</p>
				</div>
			</div>	
		</div>
	</section>
	<section id="faq" class="gray-bg clearfix">
		<div class="container">
			<h2 class="fw7 pt10">FAQ</h2>
			<span class="line 40p"></span>
			<h4 class="text-left max80">1. How do I join ThinkMerit.in?</h4>
			<p class="text-left max80">Ans: To be a part of ThinkMerit.in, one has to go through a simple registration procedure, that is absolutely free. The following steps are to be followed for registration.
<br>
Log-on to www.thinkmerit.in<br>
Click on "Login" if you are an existing user<br>
If you are a new user fill in your required details in the "Sign Up" box at the right panel of the home page.<br>
Once completed, click the "Sign Up" button<br><br>
Congrats! You are now a registered member of ThinkMerit.in</p>
			<h4 class="text-left max80">2. Why should I join ThinkMerit.in?</h4>
			<p class="text-left max80">Ans: ThinkMerit.in is an online education portal which is dedicated to provide quality learning and assessment solutions to students of class 11 & 12th of science background who are also preparing for engineering competitive examination. ThinkMerit.in caters to the learning needs of students through its high-quality study content in the form of multimedia-enriched study material, question bank with detailed solution and concept, videos lectures, test series, ask an expert and career counselling.<br>
			On signing up with ThinkMerit.in you get full access to our study materials.</p>
			<h4 class="text-left max80">3. Is studying on ThinkMerit.in sufficient?</h4>
			<p class="text-left max80">Ans: Yes, absolutely studying on ThinkMerit.in is sufficient to build solid concept for every topic and for performing good in all the engineering competitive examination.</p>
			<h4 class="text-left max80">4. For studying on ThinkMerit.in, do we need any subscription.?</h4>
			<p class="text-left max80">Ans: ThinkMerit.in is completely free for all the students. Just become a registered member of ThinkMerit.in by signing up and enter the world of knowledge.</p>
			<br><br><br>
		</div>
			
	</section>
	<!-- <section id="contact" class="maincolorbg clearfix">
		<div class="container">
			<h2 class="fw7 pt10">CONTACT US</h2>
			<span class="line 40p"></span>
			<p class="subt ">Want to reach us?</p>
			<div class="col-md-6">
				<form id="contact-form">
					<div class="col-md-6 form-group">
						<label>Name*</label>
						<input class="form-control" type="text" min="3" required></input>
					</div>
					<div class="col-md-6 form-group">
						<label>Email*</label>
						<input class="form-control" type="email" required></input>
					</div>
					<div class="col-md-12 form-group">
						<label>Message*</label>
						<textarea class="form-control" required></textarea>
					</div> 	
					<div class="col-md-3 form-group">
						<button class="btn btn-send">Send</button></div>
					
				</form>
			</div>	
			<div class="col-md-6">
				<address>
					<strong>Thinkmerit</strong><br>
					Project Room No. 2<br>
					Centre for Innovation, Incubation & Entrepreneurship (CIIE)<br>
					Indian School Of Mines, Dhanbad-826004, Jharkhand. <br>
					Email: thinkmerit@gmail.com<br>
				</address>
			</div>	
		</div>

		
	</section> -->
</div>
<link rel="stylesheet" type="text/css" href="css/home.css">
<script type="text/javascript">
(function homeMenuScrollHandler(){
  		$scrolllTop=0;
 		$(window).scroll(function(){
 			$scrolllTop=$(document).scrollTop();
 			if($scrolllTop>518){
 				$(".page-header-2").css({position:'fixed',top:0});
 			}
 			else{
 				$(".page-header-2").css({position:'relative',top:0});
 			}	
 			//console.log($scrolllTop);
 		})
}());

</script>