<div class="modal fade" id="search-modal">
	<div class="modal-dialog">
		<div class="modal-content" style="border:none;width: 500px;">
			<!-- <div class="modal-body">
				
			</div> -->
			<div class="col-md-12">
				<style type="text/css">
					form[name=searchForm] input{
						height: 50px;
					}
					form[name=searchForm] i.form-control-feedback{
						    line-height: 50px;
						    width: 40px;
						    height: 48px;
						    border-left: 1px solid #ECECEC;
					}
				</style>
					<form name="searchForm">
						<div class="form-group has-feedback">
							<input placeholder="Search chapter/topic" class="form-control" type="text"></input>
							<i class="fa fa-search form-control-feedback"></i>
						</div>
					</form>
				</div>
		</div>
	</div>
</div>
<header ng-hide="islanding" ng-init="nc.init()"><!-- ng-controller="NavCtrl as nc" -->
	<div class="nav-header" >
		<!-- Its style is at reset+shared -->
		<div class="navbar-brand">
			<a href="/#/"  class="logo">
				<img class="uncollapsed" src="images/logo.beta.png">
			</a>
		</div>
	</div>
	<div class="nav-wrapper" >
		<ul class="nav navbar-nav">
			<li ng-click="nc.toggleCollapsible()"><a class="fa fa-navicon"></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right hidden-xs">
			<!-- <li  data-toggle="modal" data-target="#search-modal"><a class="fa fa-search"></a></li> --><!-- ng-click="nc.toggleSearch()" -->
			<!-- <li class="dropdown">
				<a class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<span class="label label-info">0</span>
				</a>
				<ul class="dropdown-menu">
					
					<li>
						<ul class="menu">							
							
							<li><a href="">No notifications.</a></li>
						</ul>
					</li>
					
				</ul>
			</li> -->
			<li  ng-click="nc.toggleFullScreen()">
				<a class="fa fa-expand "></a>	
			</li><!-- title="logout" data-toggle="modal" data-target="#logout" -->
			<li><a class="fa fa-power-off" ng-click="nc.logout()" ></a></li>
		</ul>
	</div>
	<div class="search-bar" ng-show="nc.showSearch">
		<span class="close-search-bar fa fa-times" ng-click="nc.toggleSearch()"></span>
		<input class="form-control" type="search"></input>
	</div>
</header>