<div ng-hide="uc1.config.editmode">
		<a class="pull-right option right-option add-bg-0" ng-click="uc1.config.editmode=true;dc.current={};uc1.config.viewmode=false;dc.savemode='new'"><i class="fa fa-plus"></i></a>
	<!-- <a class="pull-right option right-option" ng-show="!uc1.config.viewmode"><i class="fa fa-trash"></i></a> -->
	<a class="pull-right option right-option" ng-show="uc1.config.viewmode" ng-click="uc1.config.editmode=true;uc1.config.viewmode=false;dc.savemode='update'"><i class="fa fa-edit"></i></a>

	</div>
	
	<div class="panel " ng-init="uc1.config.datas=dc.wdatas.todos">
	
	<div class="header {{uc1.config.bgClass}}">
		<a class="pull-left back-icon" ng-click="uc1.showList()" ng-show="uc1.config.viewmode"><i class="fa fa-chevron-left"></i></a>
		<h3><b>{{uc1.config.title}}</b></h3>
	</div>
	<div class="body">
		<div ng-if="dc.wdatas.todos.length<1 && !uc1.config.editmode" style="    padding: 120px; color: rgba(0, 95, 87, 0.39);">
			<center><i class="fa fa-tasks fa-4x"></i></center>
		</div>
		<ul class="menu ul-li" ng-hide="uc1.config.viewmode || uc1.config.editmode">
			<li ng-repeat="a in dc.wdatas.todos track by $index" >
				<i  ng-click="dc.deleteItem(a,'todo')" class="fa fa-trash option pull-right"></i>
				<!-- ng-show="uc1.config.deletemode" -->

				<a ng-click="uc1.showItem(a);dc.current=a"  href="">{{$index+1}}. {{a.title | limitTo:40 }}</a>  
			</li>
		</ul>
		<div class="item-details" ng-show="uc1.config.viewmode">
			<h3>{{uc1.currentItem.title}}</h3>
			<p>{{ uc1.currentItem.body }}</p>
		</div>
		<form name="editform" class="item-details" ng-show="uc1.config.editmode">
			<div class="form-group {{(editform.title.$invalid && editform.title.$dirty)?'has-error':''}}">
				<label>Title</label>
				<input name="title" class="form-control has-error bb0" type="text" ng-model="dc.current.title" required></input>
			</div>
			<div class="form-group {{(editform.body.$invalid && editform.body.$dirty)?'has-error':''}}">
			<label>Content <small ><small >(Max 250char)</small></small></label>
			<textarea class="form-control bb0" name="body" ng-model="dc.current.body" palceholder="body" rows="6" required></textarea>
			</div>
			
			<div class="btn btn-success pull-right " ng-disabled="editform.$invalid" ng-click="uc1.save('todo', dc,editform,$index)">Save</div>
			<div class="btn btn-a"  ng-click="uc1.config.editmode=false;dc.current={};editform.$setPristine()">Cancel</div>
		</form>
	</div>

	</div>