<div class="left-side-bar" ng-hide="islanding" ng-controller='SideBarCtrl as sbc'>
<div class="user-wrapper">
	<div class="user-block">
		<div class="user-block-picture">
			<a>
				<img ng-if="user.avatar!='null'" class="img-circle img-thumbnail" ng-class="{'small':isCollapsed}" ng-src="{{user.avatar}}">
				<img ng-if="user.avatar=='null'" class="img-circle img-thumbnail fa fa-user" ng-class="{'small':isCollapsed}" src="/images/user.jpg" >
			</a>
		</div>
		<div class="user-block-information">
			<span class="user-block-name">{{user.name}}</span>
		</div>
	</div>
</div>
<ul class="menu">
<li ng-class="{'active':isLocationActive('dashboard')}" ng-click="sbc.collapseifsmall()"><a href="/dashboard"><i class="fa fa-tachometer"></i> <span class="mt">Dashboard</span></a> </li>
<li ng-class="{'active':isLocationActive('notes')}">
	<a href="/notes">
	<i class="fa fa-file-o"></i>
	<span class="mt">Notes</span></a>
	<!-- <ul class="menu collapse pd-lr-30" id="collapse-ns">
		<li><a href="">+2</a> </li>
	</ul> -->
</li>
<li ng-class="{'active':isLocationActive('question-bank')}" ng-click="sbc.collapseifsmall()" ng-class="{'active':isLocationActive('question-bank')}"><a href="/question-bank"><i class="fa fa-database"></i> <span class="mt">Question Bank</span></a> </li>
<li angular-ripple ng-class="{'active':isLocationActive('tests')}">
	<a ><i class="fa fa-line-chart"></i> <span class="mt">Tests Series<span class="badge">coming soon</span>
		<!-- href="/tests" -->
	</span></a>
</li>
<li angular-ripple ng-class="{'active':isLocationActive('video-lectures')}">
	<a href="/video-lectures"><i class="fa fa-play-circle-o"></i>
		<span class="mt">Video Lectures</span></a>
</li>
<li ng-class="{'active':isLocationActive('ask')}">
	<a href=""><i class="fa fa-question-circle"></i>
		<span class="mt">Ask <span class="badge">coming soon</span>
	</span></a>
</li>
<li class="list-divider" ></li>
<li ng-class="{'active':isLocationActive('profile')}" ng-click="sbc.collapseifsmall()"><a href="/profile"><i class="fa fa-user"></i> <span class="mt">Profile</span></a> </li>
</ul>


<ul class="social-menus">
<!-- <li ><h4>Connect {{isCollapsed?'':'with us'}}</h4></li> -->
<li>
	<div ng-show="!isCollapsed" class="fb-like" data-href="https://www.facebook.com/thinkmerit.in/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	<div ng-show="isCollapsed" class="fb-like" data-href="https://www.facebook.com/thinkmerit.in/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
</li>
<li>
	<div ng-show="isCollapsed" >
		<a href="https://twitter.com/thinkmerit" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false"></a>
	</div>
	<div ng-show="!isCollapsed" >
		<a ng-show="!isCollapsed" href="https://twitter.com/thinkmerit" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false"></a>
	</div>

</li>
<li>
	<div class="g-plusone" data-href="https://plus.google.com/+ThinkmeritIn"></div>
</li>
<li>
	<div class="g-ytsubscribe" data-channelid="UCcYos33m_g5vqIi50_tYgrg" data-layout="default" data-theme="dark" data-count="default" data-onytevent="onYtEvent"></div>
</li>
</ul>
</div>
