
<div class="col-md-12 questions-show" ng-show="nc.questions && !nc.question" >
			<div class="list-group">
				<div class="list-group-item clearfix" ng-repeat="q in nc.questions.questions track by $index">
						<span class="question col-md-10 pd-l-15">
							<p class="indexer"><span level-bind="q.level"></span> Question {{$index+1+10*(nc.pageNo-1)}}.</p>

							<p class="question-content"  mathjax-bind="q.question "></p>

							<div ng-if="q.type==5">

								<div class="question-parts" ng-repeat="qq in q.paragraph_questions track by $index">
									<p class="indexer">{{$parent.$index+1+10*(nc.pageNo-1)}}.{{$index+1}}</p>
									<div mathjax-bind="qq.question"></div>
									
									<div class="choices" ng-if="qq.choices">
										<p class="col-md-6" >A. <span mathjax-bind="qq.choices.A"></span></p>
										<p class="col-md-6" >B. <span mathjax-bind="qq.choices.B"></span></p>
										<p class="col-md-6" >C. <span mathjax-bind="qq.choices.C"></span></p>
										<p class="col-md-6" >D. <span mathjax-bind="qq.choices.D"></span></p>
									</div>
									<br>
								</div>
							</div>
							<div  ng-if="!q.type==5">
								
								<div class="choices" ng-if="q.type==3||q.type==4">
									<p class="col-md-6" >A. <span mathjax-bind="q.choices.A"></span></p>
									<p class="col-md-6" >B. <span mathjax-bind="q.choices.B"></span></p>
									<p class="col-md-6" >C. <span mathjax-bind="q.choices.C"></span></p>
									<p class="col-md-6" >D. <span mathjax-bind="q.choices.D"></span></p>
								</div>
							</div>
							
						</span>
						<span class="side-tools pull-right col-md-2 row" style="padding-right:0">
							<div class="clearfix col-md-6 pull-right plr-0">							
<a  ng-click="nc.showanswer(q.id)" class="btn btn-default col-md-12 row">Answer</a>
<a  ng-click="nc.showsolution(q.id)" class="btn btn-default col-md-12 row" >Solution</a>
							</div>
							<div class="clearfix col-md-6 plr-0">
<div title="solved" class="btn btn-default qm" ng-click="nc.togglesolved(q,true)"><i class="fa fa-check" ng-class="{'text-success':q.usersolved[0]}"></i> </div>
<div title="doubt" class="btn btn-default qm" ng-click="nc.toggledoubt(q,true)"><i class="fa fa-question"  ng-class="{'text-danger':q.userdoubt[0]}"></i> </div>
<div title="favourite" class="btn btn-default qm" ng-click="nc.togglefavourite(q,true)" >
	<i class="fa {{q.userfavourite[0]?'fa-heart':'fa-heart-o'}}" ng-class="{'text-yellow':q.userfavourite[0]}"></i> 
</div>
<div title="video" class="btn btn-default qm"  ng-class="{'btn-disabled':!q.video}" ng-click="nc.showvideo(q.video)"  ng-disable="!q.video" ng-click="nc.togglevideo(q)"  ><i class="fa fa-video-camera" ></i> 
</div>
<div title="information" class="btn btn-default qm" ng-click="nc.showinfo(q.id)" style="width:34px"><i class="fa fa-info" ></i> </div>


<div class="btn-group" title="share">
  <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="width: 38px; height: 32.5px;">
    <i class="fa fa-share-alt"></i>
  </button>
  <ul class="dropdown-menu" style=" min-width: 90px;">
	    <li><div class="fb-share-button" data-href="{{nc.shareUrl(q.id)}}"  data-layout="button"></div></li>
		<li><a class="twitter-share-button" href="{{nc.shareUrl(q.id)}}">Tweet</a></li>
  </ul>
</div>

							</div><!-- fa-video-camera -->
							<div class="col-md-12">

<div class="rating">
	<br>
	<i class="fa fa-15x {{q.rating>0?'text-warning fa-star':'fa-star-o'}}" ng-class="{'text-warning':q.rating>0}" ></i>
	<i class="fa fa-15x {{q.rating>1?'text-warning fa-star':'fa-star-o'}}" ng-class="{'text-warning':q.rating>1}" ></i>
	<i class="fa fa-15x {{q.rating>2?'text-warning fa-star':'fa-star-o'}}" ng-class="{'text-warning':q.rating>2}" ></i>
	<i class="fa fa-15x {{q.rating>3?'text-warning fa-star':'fa-star-o'}}" ng-class="{'text-warning':q.rating>3}" ></i>
	<i class="fa fa-15x {{q.rating>4?'text-warning fa-star':'fa-star-o'}}" ng-class="{'text-warning':q.rating>4}" ></i>
</div>
<div class="type">
	Question Type : {{q.typename.name}}
</div>
							</div>

						</span>
					</div>
				</div>		
</div>