
<div class="modal fade" role="modal" id="answer-modal">
	<div class="modal-dialog mw-800">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Answer</h3>

			</div>

			<div class="modal-body mbh-200" ng-hide="nc.q.type==5" ng-if="nc.q.type!=3||nc.q.type!=4"  mathjax-bind="nc.answer"></div>
			<div class="modal-body mbh-200" ng-if="nc.q.type==5" >
				<div ng-repeat="as in nc.answer track by $index">
					<p class="indexer">{{$index+1}}</p>
					<p mathjax-bind="as.answer"></p>
				</div><!--  -->
			</div>
		</div>
	</div>
</div>

<div class="modal fade" role="modal" id="solution-modal">
	<div class="modal-dialog mw-800" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Solution</h3>
			</div>
			{{q.type}}
			<div class="modal-body mbh-200" ng-hide="nc.q.type==5" mathjax-bind="nc.solution.solution"></div>
			<div class="modal-body mbh-200" ng-if="nc.q.type==5" >
				<div ng-repeat="as in nc.solution track by $index">
					<p class="indexer">{{$index+1}}</p>
					<p mathjax-bind="as.solution.solution"></p>
				</div><!--  -->
			</div>
		</div>
	</div>
</div>
<div class="modal fade" role="modal" id="question-info-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Question Information</h3>
				<hr>
				<!-- <div class="clearfix">
					<p><span class="col-md-4"><b>Subject:</b></span> <span class="col-md-8">{{nc.question_info.topic.chapter.module.subject.name}}</span></p>
					<p><span class="col-md-4"><b>Chapter:</b></span> <span class="col-md-8">{{nc.question_info.topic.chapter.name}}</span></p>
					<p><span class="col-md-4"><b>Topic:</b></span> <span class="col-md-8">{{nc.question_info.topic.name}}</span></p>
					<p><span class="col-md-4"><b>Level:</b></span> <span class="col-md-8">{{nc.question_info.level}}</span></p>
					<p><span class="col-md-4"><b>Rating:</b></span> <span class="col-md-8">{{nc.question_info.rating}}</span></p>
					<p><span class="col-md-4"><b>Uploaded by:</b></span> <span class="col-md-8">{{nc.question_info.author[0].name}} </span></p>
					<p><span class="col-md-4"><b>Source:</b></span> <span class="col-md-8">{{nc.question_info.source?nc.question_info.source:'none'}}</span></p>
					<p><span class="col-md-4"><b>Id:</b></span> <span class="col-md-8">{{nc.question_info.id}}</span></p>
				</div> -->
				<table class="table">
					<tr><td><b>Subject:</b></td> <td>{{nc.question_info.topic.chapter.module.subject.name}}</td></tr>
					<tr><td><b>Chapter:</b></td> <td>{{nc.question_info.topic.chapter.name}}</td></tr>
					<tr><td><b>Topic:</b></td> <td>{{nc.question_info.topic.name}}</td></tr>
					<tr><td><b>Level:</b></td> <td>{{nc.question_info.level}}</td></tr>
					<tr><td><b>Rating:</b></td> <td>{{nc.question_info.rating}}</td></tr>
					<tr><td><b>Uploaded by:</b></td> <td>{{nc.question_info.author[0].name}}</td></tr>
					<tr><td><b>Source:</b></td> <td>{{nc.question_info.source?nc.question_info.source:'none'}}</td></tr>
					<tr><td><b>Id:</b></td> <td>{{nc.question_info.id}}</td></tr>
				</table>
			</div>
			<div class="modal-body" mathjax-bind="nc.question_info"></div>
		</div>
	</div>
</div>
<div class="modal fade" role="modal" id="question-video-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Video</h3>

			</div>
			<div class="modal-body" >
				<div id="q-video-container"></div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="question-share">
<div class="modal-dialog">

	<div class="modal-content">
	<div class="modal-header"><center><h3>Share</h3></center></div>
	<div class="modal-body" style="height: 200px;padding-top: 50px;">
		<div class='clearfix'>
		<div ng-click='nc.share(nc.qshareurl,"fb")' class='col-md-4'> <div class='col-md-8 col-md-offset-2 btn btn-default'><i class='fa fa-2x fa-facebook'></i> </div></div>
		<div ng-click='nc.share(nc.qshareurl,"gp")' class='col-md-4'> <div class='col-md-8 col-md-offset-2 btn btn-default'><i class='fa fa-2x fa-google-plus'></i> </div></div>
		<!-- <div ng-click='nc.share(nc.qshareurl,"tw")' class='col-md-4'> <div class='col-md-8 col-md-offset-2 btn btn-default'><i class='fa fa-2x fa-twitter'></i> </div></div> -->
		</div>
	</div>

	</div>
</div>
</div>
