
<div class="content main"  ng-init="nc.init()">
<!-- ng-controller="QuestionBank as nc" -->
<question-bank-modals></question-bank-modals>
<!-- <question-share></question-share> -->
	<section class="inner">
		<div class="section-header">
			<h4>Question Bank</h4>

		</div>
		<div class="clearfix">

<div class="filter-menu clearfix">
			
			<div class="col-md-2" >
				<h4>Subject</h4>
			<!-- ng-change="nc.selectsubject(nc.selected.subject)"  -->
			  <ui-select ng-model="nc.selected.subject" theme="selectize" ng-disabled="disabled">
			    <ui-select-match placeholder="{{nc.datas.subjects.length>0?'Select or search a subject':'No data found'}}">{{$select.selected.name}}</ui-select-match>
			    <ui-select-choices repeat="subject in nc.datas.subjects | filter: $select.search">
			      <div ng-click="nc.redirectToSubject(subject.name)"  ng-bind-html="subject.name | highlight: $select.search"></div>
			    </ui-select-choices>
			  </ui-select>

			</div>
			<div class="col-md-2" ng-show="nc.selected.subject"  >
				<h4>Chapter</h4>

				<ui-select ng-model="nc.selected.chapter"  theme="selectize" ng-disabled="disabled"><!-- ng-change="nc.selectchapter(nc.selected.chapter)" -->
			    <ui-select-match placeholder="{{nc.datas.chapters.length>0?'Select or search a chapter':'No data found'}}">{{$select.selected.name}}</ui-select-match>
			    <ui-select-choices repeat="chapter in nc.datas.chapters | filter: $select.search">
			      <div ng-click="nc.redirectToChapter(chapter.name)"  ng-bind-html="chapter.name | highlight: $select.search"></div>
			    </ui-select-choices>
			  </ui-select>

			</div>
			<div class="col-md-2" ng-show="nc.selected.chapter"  >
				<h4>Topic</h4>

				<ui-select ng-model="nc.selected.topic"  theme="selectize" ng-disabled="disabled"><!-- ng-change="nc.selecttopic(nc.selected.topic)" -->
			    <ui-select-match placeholder="{{nc.datas.topics.length>0?'Select or search a topic':'No data found'}}">{{$select.selected.name}}</ui-select-match>
			    <ui-select-choices repeat="topic in nc.datas.topics | filter: $select.search">
			      <div ng-click="nc.redirectToTopic(topic.name)"  ng-bind-html="topic.name | highlight: $select.search"></div>
			    </ui-select-choices>
			 </ui-select>

			</div>
			<div class="col-md-2" >
				<h4>Type</h4>
			<!-- ng-change="nc.selectsubject(nc.selected.subject)"  -->
			  <ui-select ng-model="nc.selected.type" theme="selectize" ng-disabled="disabled">
			    <ui-select-match placeholder="{{nc.datas.types.length>0?'Select question type':'No data found'}}">{{$select.selected.name}}</ui-select-match>
			    <ui-select-choices repeat="type in nc.datas.types | filter: $select.search">
			      <div ng-click="nc.filterType(type.name)"  ng-bind-html="type.name | highlight: $select.search"></div>
			    </ui-select-choices>
			  </ui-select>

			</div>

</div>

<!-- QUESTION SHOW -->
<!-- PAGINAION -->
<nav class="clearfix">
	<ul class="pagination pull-right m-r15">
	    <li>
	    	<a ng-click="nc.prev()"  ng-class="{'btn-disabled':!nc.questions.prev_page_url}" aria-label="Previous">
	        <span aria-hidden="true">Previous</span>
	      </a>
	    </li>
	    <li>
	    	<a ng-click="nc.next()"  ng-class="{'btn-disabled':!nc.questions.next_page_url}" aria-label="Next">
	        <span aria-hidden="true">Next</span>
	      </a>
	   </li>
	 </ul>
</nav>
<!-- SINGLE QUESTION -->
<div single-question></div>

<!-- LIST OF QUESTION -->
<div list-of-question></div>
<nav class="clearfix">
	<ul class="pagination pull-right m-r15">
	    <li>
	    	<a ng-click="nc.prev()"  ng-class="{'btn-disabled':!nc.questions.prev_page_url}" aria-label="Previous">
	        <span aria-hidden="true">Previous</span>
	      </a>
	    </li>
	    <li>
	    	<a ng-click="nc.next()"  ng-class="{'btn-disabled':!nc.questions.next_page_url}" aria-label="Next">
	        <span aria-hidden="true">Next</span>
	      </a>
	   </li>
	 </ul>
</nav>
		</div>
	<section>
</div>
 <link rel="stylesheet" href="bower_components/ui-select-master/dist/selectize.modified.css">
