
<div class="content main" ng-controller="DashboardCtrl as dc" ng-init="dc.init()">
	<!-- style at css content -->
	<section class="question-bank inner">
		<div class="section-header">
			<h4>Question Bank Performance</h4>
		</div>

		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="panel  widget bg-yellow">
					<div class="row row-table">
						<div class="col-xs-4 text-center bg-yellow-dark pd-tb-25"><em class="fa fa-star fa-3x"></em></div>
						<div class="col-xs-8 pv-lg"><div class="h2 mt0">{{dc.stats.favourites}}</div><div class="text-uppercase">Favourite</div></div>
					</div>
				</div>
			</div> 
			<div class="col-lg-3 col-sm-6">
				<div class="panel  widget bg-green">
					<div class="row row-table">
						<div class="col-xs-4 text-center bg-green-dark pd-tb-25"><em class="fa fa-check fa-3x"></em></div>
						<div class="col-xs-8 pv-lg"><div class="h2 mt0">{{dc.stats.solved}}</div><div class="text-uppercase">Solved</div></div>
					</div>
				</div>
			</div> 
			<div class="col-lg-3 col-sm-6">
				<div class="panel  widget bg-red">
					<div class="row row-table">
						<div class="col-xs-4 text-center bg-red-dark pd-tb-25"><em class="fa fa-question fa-3x"></em></div>
						<div class="col-xs-8 pv-lg"><div class="h2 mt0">{{dc.stats.doubts}}</div><div class="text-uppercase">Doubts</div></div>
					</div>
				</div>
			</div> 
		</div>
	</section>
	
	<section class="inner charts-dashboard col-md-12" ng-controller="LineCtrl">
		<div class="panel col-md-7 ">
			<canvas id="line" class="chart chart-line" chart-data="data"
		  chart-labels="labels" chart-legend="true" chart-series="series"
		  chart-click="onClick" >
			</canvas> 
		</div>
		
	</section>
	
	<section class="notes inner">
		<div class="section-header">
			<h4>Utilities</h4>
		</div>
		<div class="row">
			<div utility-stickies 
				class="col-md-5 col-xs-12 utility" 
				ng-init="uc.config.type='stickies';uc.config.title='Stickies';uc.config.bgClass='bg-stickies'" >
			</div>
			<div utility-bookmarks 
				class="col-md-4 col-xs-12 utility" 
				ng-init="uc0.config.type='bookmarks';uc0.config.title='Bookmarks';uc0.config.bgClass='bg-yellow'" ></div>
		</div>

	</section>

	<section class="utilities inner">
		<div class="section-header">
			<h4>Others</h4>
		</div>
		<div class="row">
			
			
			<div class="col-md-5" ui-calendar ng-model="eventSources"></div> 

			<div utility-todos 
				class="col-md-4 col-xs-12 utility" 
				ng-init="uc1.config.type='todos';uc1.config.title='Todo List';uc1.config.bgClass='bg-todos'" >
			</div>

			<!-- <div id="stickies"  class="col-md-4 col-xs-12 utility">
				<a class="pull-right option right-option"><i class="fa fa-edit"></i></a>
				<div class="panel bg-stickies" >
					<div class="header">
						<a class="pull-left back-icon"><i class="fa fa-chevron-left"></i></a>

						<h3><b>Todo List</b></h3>

					</div>
					<div class="body">
						<ul class="menu ul-li">
							<li><i class="fa fa-times option pull-right"></i><a href="">XASASLKJKLL</a>  </li>
							<li><a href="">XASASLKJKLL</a></li>
							<li><a href="">XASASLKJKLL</a></li>
						</ul>
					</div>
				</div>
			</div> -->

		</div>

	</section>
</div>

